<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/alidatatable/third-party/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/alidatatable/css/dataTables.bootstrap.min.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/product">Products</a></li>

                    </ul>
                    {% if is_granted('ROLE_USER') %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('bundles/alidatatable/js/jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/alidatatable/js/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('bundles/alidatatable/js/dataTables.bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
